.example-container{
    background-color: white;
    display: inline-block;
    /* margin-left: 40%; */
    /* margin-top: 10%; */
    opacity: 0.8;
    padding: 35px;
    border-width:10px;
    border-color: black;
    color: black;
    /* border: "1px solid black"; */
}
mat-form-field{
    display: inline;
}
h1{
    text-align: center;
    /* background-color:darkred; */
    opacity: 0.85;
}
.btnCancelar{
    padding: 5px;
    margin-left: 25px;
    margin-right: 155px;
}
.btnAceptar{
    padding: 5px;
}