
<mat-form-field style="background-color: white ; opacity: 0.8;" >
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
 </mat-form-field>
      
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="opacity: 0.8" id="tablaPedido">
      
        <!-- Position Column -->
        <ng-container matColumnDef="estado" >
          <th mat-header-cell *matHeaderCellDef style="text-align: center"> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="tiempoestimado" >
          <th mat-header-cell *matHeaderCellDef style="text-align: center"> Tiempo Estimado </th>
          <td mat-cell *matCellDef="let element"> {{element.tiempoestimado}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="tiempoentrega">
          <th mat-header-cell *matHeaderCellDef style="text-align: center"> Tiempo Entregado </th>
          <td mat-cell *matCellDef="let element"> {{element.tiempoentrega}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef style="text-align: center"> Codigo </th>
          <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="idmesa">
          <th mat-header-cell *matHeaderCellDef style="text-align: center"> ID Mesa </th>
          <td mat-cell *matCellDef="let element"> {{element.idmesa}} </td>
        </ng-container>

        <ng-container matColumnDef="foto">
                <th mat-header-cell *matHeaderCellDef style="text-align: center"> Foto </th>
                <td mat-cell *matCellDef="let element"> {{element.foto}} </td>
        </ng-container>

        <ng-container matColumnDef="cliente">
                <th mat-header-cell *matHeaderCellDef style="text-align: center"> Cliente </th>
                <td mat-cell *matCellDef="let element"> {{element.cliente}} </td>
        </ng-container>

        <ng-container matColumnDef="importe">
                <th mat-header-cell *matHeaderCellDef style="text-align: center"> Importe </th>
                <td mat-cell *matCellDef="let element"> {{element.importe}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <button class="btn btn-secondary" (click)="downloadPDF()">Exportar PDF</button>
      <button class="btn btn-primary" (click)="downloadExcel()" >Exportar Excel</button>
      <button class="btn btn-info" (click)="traerPedidos()" >TraerPedidos</button>