.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: grey;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
body{
margin: 0;
}
.mat-list-item {
  float: right;
}
.responsive {
  width: 100%;
  height: 100vh;
  background-size: cover;
  color: white;
  text-align: center; 
   background-image: url("../../../assets/image-restaurant.jpg");
}