<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false" style="background-color: firebrick">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list >
      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      <div *ngIf="!isLogin" ><a class="nav-link"(click)="openDialog()">Login</a></div>
      <div *ngIf="isLogin"> <a class="nav-link" href="#" (click)="logOut()">Log Out</a></div>
      <div *ngIf="isLogin"> <a class="nav-link" (click)="verListaPedidos()">Lista Pedidos</a></div>
      <div *ngIf="isLogin"> <a class="nav-link" href="#" (click)="logOut()" style="background-color: orange">{{msjBienvenida}}</a></div>
      <div *ngIf="!isLogin"><a class="nav-link" href="/alta">Registrate</a></div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <mat-toolbar color="" style="background-color: darkred">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>La Comanda</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="responsive">
        <ng-content>
        </ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
