<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="https://sebacapurrolacomanda.000webhostapp.com/">La Comanda</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" *ngIf="!isLogin">
              <a class="nav-link"(click)="openDialog()">Login</a>
            </li>
            <li class="nav-item" *ngIf="isLogin">
                <a class="nav-link" href="#" (click)="logOut()">Log Out</a>
              </li>
            <li class="nav-item" *ngIf="!isLogin">
                <a class="nav-link" href="/alta">Registrate</a>
            </li>
          </ul>
        </div>
</nav>
